*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #B0E0E6;
}

img.card-img-topz{
    height: 250px;
    height: 370px;
}

#lista-filmes{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card{
    width: 14rem;
    margin: 1rem;
    background-color: #87CEFA;
    border: 1px solid #0000FF;
}

.card:hover{
    background-color: #4169E1;
}

.card-title{
    text-align: center;
    font-weight: 700;
    color: #000000;
}

.btnDetalhesFilme{
    width: 120px;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
    margin-left: 20%;
    background-color: #ADD8E6;
    font-weight: 600;
    color: #6A5ACD;
}

.btnDetalhesFilme:hover{
    background-color: #87CEFA;
    color: #0000FF;
}
